<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397476529560-2r4sckp6flt3c46ocnsi47tarfir8id6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397476529560-2r4sckp6flt3c46ocnsi47tarfir8id6</string>
	<key>API_KEY</key>
	<string>AIzaSyDoVJ19UNzKnBSCztJ5ke5sg-eObunFtJw</string>
	<key>GCM_SENDER_ID</key>
	<string>397476529560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learning</string>
	<key>PROJECT_ID</key>
	<string>wawaaaa-59eeb</string>
	<key>STORAGE_BUCKET</key>
	<string>wawaaaa-59eeb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397476529560:ios:6bc79050c3488c607d97ed</string>
</dict>
</plist>