<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517958403297-jnnl9m5b83erhfad5s0m4u77p5lgshi2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517958403297-jnnl9m5b83erhfad5s0m4u77p5lgshi2</string>
	<key>API_KEY</key>
	<string>AIzaSyDYXliybmqm-iRJbLvEJPrCJBtAjlmf-5Q</string>
	<key>GCM_SENDER_ID</key>
	<string>517958403297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.profile</string>
	<key>PROJECT_ID</key>
	<string>profile-project-ffcee</string>
	<key>STORAGE_BUCKET</key>
	<string>profile-project-ffcee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517958403297:ios:f85e7547c4ddfb81cca3a0</string>
</dict>
</plist>