<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115031264807-12q9mqrt13gpupuh19ghj445bsn7fgco.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115031264807-12q9mqrt13gpupuh19ghj445bsn7fgco</string>
	<key>API_KEY</key>
	<string>AIzaSyDQY6fxqNwq3xCC_t_hc-JZiEgVfylRvXA</string>
	<key>GCM_SENDER_ID</key>
	<string>115031264807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bosnia</string>
	<key>PROJECT_ID</key>
	<string>svhsp-heigui-heigui</string>
	<key>STORAGE_BUCKET</key>
	<string>svhsp-heigui-heigui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115031264807:ios:7fc3a86dc4d8b7a0df8802</string>
</dict>
</plist>