<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30436198948-3041ci7rgp80jcihb13adfkttc1oi25l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30436198948-3041ci7rgp80jcihb13adfkttc1oi25l</string>
	<key>API_KEY</key>
	<string>AIzaSyCHETrVYhr9j5vJg-RQTYDMStROsKvGsuE</string>
	<key>GCM_SENDER_ID</key>
	<string>30436198948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teachingAtSvhsp</string>
	<key>PROJECT_ID</key>
	<string>svhsp-ee9ee</string>
	<key>STORAGE_BUCKET</key>
	<string>svhsp-ee9ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30436198948:ios:73ba9472eec73e567066b1</string>
</dict>
</plist>